* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1;
}
body * {
  font-weight: 400;
  color: #000000;
}

.hide {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
}

header {
  width: 100%;
  height: 142px;
  background: url(../../assets/images/header_bg.png) no-repeat center/cover;
}

#wrapper {
  position: relative;
  width: 100%;
  background: #F2F2F2;
}
#wrapper .wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  padding: 0 50px;
}
#wrapper .wrap .lnb-wrap {
  width: 352px;
}
#wrapper .wrap .lnb-wrap > p {
  font-size: 20px;
  font-weight: 700;
  color: #4D4D4D;
  padding: 40px 0 14px;
  height: 78px;
}
#wrapper .wrap .lnb-wrap > p span {
  color: #005199;
}
#wrapper .wrap .lnb-wrap .lnb {
  border-radius: 14px;
  background: #ffffff;
  height: calc(100% - 74px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap {
  margin-bottom: 69px;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu {
  position: relative;
  padding-top: 30px;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #D1D1D1;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 > ul {
  display: none;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 > ul:last-child {
  padding-bottom: 20px;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 > a {
  position: relative;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  height: 69px;
  padding: 20px 0 20px 30px;
  transition: all 0.25s;
  z-index: 10;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 > a.home::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 6px;
  height: 100%;
  background: #005199;
  opacity: 0;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 > a.home.active {
  color: #003560;
  background: #F1F7FF;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 > a.home.active::before {
  opacity: 1;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 {
  position: relative;
  width: 100%;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02.add > a::after {
  position: absolute;
  right: 30px;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../assets/images/icon_lnb_arrow.png);
  transform: rotate(180deg);
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02.add > a.on::after {
  transform: rotate(360deg);
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 > ul {
  display: none;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 > a {
  position: relative;
  color: #676767;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 42px;
  padding: 10px 0 10px 40px;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 > a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 6px;
  height: 100%;
  background: #005199;
  opacity: 0;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 > a.active {
  color: #003560;
  font-weight: 700;
  background: #F1F7FF;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 > a.active::before {
  opacity: 1;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 ul .depth03 {
  position: relative;
  width: 100%;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 ul .depth03 > a {
  position: relative;
  color: #676767;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  height: 42px;
  padding: 10px 0 10px 80px;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 ul .depth03 > a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 6px;
  height: 100%;
  background: #005199;
  opacity: 0;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 ul .depth03 > a.active {
  color: #003560;
  font-weight: 700;
  background: #F1F7FF;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .menu-wrap .menu .depth01 ul .depth02 ul .depth03 > a.active::before {
  opacity: 1;
  transition: all 0.25s;
}
#wrapper .wrap .lnb-wrap .lnb .contact {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
#wrapper .wrap .lnb-wrap .lnb .contact li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
}
#wrapper .wrap .lnb-wrap .lnb .contact li span {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#wrapper .wrap .lnb-wrap .lnb .contact li span::after {
  position: relative;
  display: inline-block;
  content: "";
  width: 26px;
  height: 26px;
  background: url(../../assets/images/icon_phone.png) no-repeat center/contain;
}
#wrapper .wrap .lnb-wrap .lnb .contact li a {
  font-size: 18px;
  font-weight: 500;
  color: #676767;
}
#wrapper .wrap .content-wrap {
  width: calc(100% - 352px);
  height: 100%;
  border-radius: 14px;
  background: #F2F2F2;
}
#wrapper .wrap .content-wrap .breadcrumb {
  height: 78px;
  padding: 40px 0 14px;
}
#wrapper .wrap .content-wrap .breadcrumb ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#wrapper .wrap .content-wrap .breadcrumb ul li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#wrapper .wrap .content-wrap .breadcrumb ul li a {
  position: relative;
  font-size: 20px;
  color: #4D4D4D;
  font-weight: 500;
}
#wrapper .wrap .content-wrap .breadcrumb ul li a.home {
  width: 22px;
  height: 22px;
  background: url(../../assets/images/icon_home.png) no-repeat center/contain;
}
#wrapper .wrap .content-wrap .breadcrumb ul li:not(:last-child)::after {
  position: relative;
  display: inline-block;
  content: "";
  width: 25px;
  height: 22px;
  background: url(../../assets/images/icon_arrow.png) no-repeat center/contain;
}
#wrapper .wrap .content-wrap .breadcrumb ul li:last-child a {
  color: #005199;
  font-weight: 700;
}
#wrapper .wrap .content-wrap .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#wrapper .wrap .content-wrap .content .left {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#wrapper .wrap .content-wrap .content .left > div {
  width: 100%;
  border-radius: 14px;
}
#wrapper .wrap .content-wrap .content .left > div.type01 {
  height: 588px;
  background: url(../../assets/images/con01.png) no-repeat center #ffffff;
}
#wrapper .wrap .content-wrap .content .left > div.type02 {
  height: 768px;
  background: url(../../assets/images/con02.png) no-repeat center #ffffff;
}
#wrapper .wrap .content-wrap .content .left > div.type03 {
  height: 243px;
  background: url(../../assets/images/con03.png) no-repeat center #ffffff;
}
#wrapper .wrap .content-wrap .content .right {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#wrapper .wrap .content-wrap .content .right > div {
  width: 100%;
  border-radius: 14px;
}
#wrapper .wrap .content-wrap .content .right > div.type01 {
  height: 220px;
  background: url(../../assets/images/con04.png) no-repeat center #ffffff;
}
#wrapper .wrap .content-wrap .content .right > div.type02 {
  height: 1389px;
  background: url(../../assets/images/con05.png) no-repeat center #ffffff;
}
#wrapper .wrap .content-wrap .content .middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#wrapper .wrap .content-wrap .content .middle .type01 {
  width: 100%;
  border-radius: 14px;
  height: 487px;
  background: url(../../assets/images/sub_con01.png);
}

footer {
  width: 100%;
  height: 100px;
  background: #F2F2F2;
}
footer .inner {
  width: 100%;
  height: 100%;
  padding: 0 50px 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}