$black: #000000;
$white: #ffffff;
$gray01: #676767;
$pretendard : 'Pretendard';

@mixin flexbox($direction, $justfy, $align){
	display:flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}

*{box-sizing: border-box;}
html{font-size: 10px;}

body{
    font-size: 1.6rem;
    line-height: 1;
    *{
        font-weight: 400;
        // color: $black;
    }
}

.hide{
    position: absolute;
    width: 1px!important;
    height: 1px!important;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip-path: polygon(0 0, 0 0, 0 0);
}